@charset "utf-8";


/*------------------------
  TODO
  - font-family
  - class名見直し
  - CSSのプロパティ見直し
------------------------*/


/*------------------------
  common
------------------------*/
.is-halfWidth {
  width: 50%;
}

.is-fullWidth {
  width: 100%;
}

.wrapper {
  background-color: #f2f6f7;
  padding: 32px 0;
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.link-color {
  color: #01a6a4;
}

.link-color:hover {
  color: #01bfbd;
}

.alert {
  color: #dd4b39;
}

/*--- ボタンパーツ ---*/
.button-init {
  text-decoration: none;
}

.button {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 13px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  line-height: 34px;
  transition: .3s;
  cursor: pointer;
}

.main-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 48px 64px;
}

.page-title {
  margin-bottom: 24px;
  text-align: center;
}

/*--- Start with SNS ---*/
.columns {
  display: flex;
  margin-bottom: 8px;
}

.column:last-child {
  margin-left: 8px;
}

.is-facebook {
  background-color: #3b5999;
  border-color: #3b5999;
  color: #fff;
}

.is-facebook:hover {
  background-color: #344e87;
  border-color: transparent;
}

.is-google {
  background-color: #fff;
  color: #dd4b39;
}

.is-google:hover {
  background-color: #f7f7f7;
}

.supplement-text {
  color: #949697;
  font-size: 12px;
  text-align: center;
}

.devider {
  margin: 20px 0;
  text-align: center;
  position: relative;
}

.devider p {
  background-color: #fff;
  color: #949697;
  display: inline-block;
  font-size: 12px;
  padding: 0 10px;
  position: relative;
}

.devider::before {
  background-color: #ececec;
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
}

/*------------------------
  form
------------------------*/

.input-init {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.label-text {
  color: #545658;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

.input-area {
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  height: 36px;
  line-height: 24px;
  padding: 5px;
  width: 100%;
}

.input-area:focus {
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
}

/* 名前 */
.name {
  margin-left: 16px;
}

.name:first-child {
  margin-left: 0;
}

/* 性別 */
.gender {
  display: block;
}

.gender-contents {
  display: flex;
}

.gender-content {
  margin-left: 15px;
  cursor: pointer;
}

.gender-content:first-child {
  margin-left: 0;
}

.gender-content input {
  display: none;
}

.gender-content span {
  display: inline-block;
  padding: 3px 3px 3px 20px;
  position: relative;
}

.gender-content span::before {
  position: absolute;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  border-radius: 50%;
  content: '';
}

.gender-radio:checked + span::after {
  position: absolute;
  background-color: #01bfbd;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  content: '';
}

/* 出身 */
.origin {
  display: block;
}

.select-area {
  position: relative;
}

.select-area::after {
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 10px;
  content: '';
  width: 5px;
  height: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  transform: rotate(45deg);
}

.input-origin:focus {
  background-color: #fbfbfb;
  border-color: #d9d9d9;
  box-shadow: initial;
}

/* Email */
.email {
  display: block;
}

/* 電話番号 */
.tel {
  display: block;
}
/* 送信ボタン */
.submit-btn {
  background-color: #01bfbd;
  color: #fff;
}

.submit-btn:hover {
  background-color: #01a6a4;
}

/* 利用規約 */
.agreement {
  font-size: 12px;
  line-height: 16px;
}


/*------------------------
  foot
------------------------*/
.foot-part p {
  font-size: 12px;
  margin-bottom: 8px;
  text-align: center;
}

.foot-part p:last-child {
  margin-bottom: 0;
}

.foot-part a {
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  line-height: 16px;
}

.foot-part a:hover {
  border-bottom-color: #01a6a4;
}